<!-- BIENVENIDA -->

                <div class="section1 p-0 text-white">
                    <div class="row justify-content-center">
                        <h1 class="text-white">EL HERALDO</h1>
                    </div>
                    <div data-aos="zoom-in"
                        class="d-flex position-relative flex-column align-items-center bienvenida p-0" style="top:25%;">
                        <div class="row justify-content-center pb-3">
                            <h2 class="border p-4 shadow h1">BIENVENIDO</h2>
                        </div>
                        <div class="row justify-content-center">
                            <span class="text-wrap w-50">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Voluptatum,
                                sequi laboriosam
                                dolore veritatis perferendis qui, quibusdam exercitationem eum vitae cumque
                                consectetur
                                harum magni aliquid dolorem. Esse numquam exercitationem praesentium? Explicabo!
                                Amet odit distinctio perferendis? Soluta et, error vitae porro, voluptatum sit odio
                                rerum
                                corporis rem quaerat modi. Dolore ullam labore, dolorem, quod ab unde sed sapiente
                                error
                                consectetur, ipsa totam!</span>
                        </div>
                    </div>
                </div>

                <!-- VIDEOS -->

                <div class="container-fluid" style="height:660px">
                    <div class="row" style="background-color: #212529;">
                        <div id="videos" data-aos="zoom-in" class="col-lg p-0" style="background-color: #212529;">
                            <div class="col-lg d-flex flex-column p-0">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white text-wrap">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.
                                    Accusantium dolores
                                    adipisci, perspiciatis recusandae perferendis nulla rerum fugit aliquid eos
                                    nostrum.
                                    Eum temporibus dignissimos vero illum nulla nobis</span>
                            </div>
                        </div>
                        <a class="col-lg p-0" href="/noticias.html"><img class="section-news"
                                src="/image/nube2.jpg" alt="Una nube"></a>
                    </div>
                    <div class="row">
                        <a class="col-lg p-0" href="/noticias.html"><img class="section-news"
                                src="/image/nube5.jpg" alt="Una nube"></a>
                        <div data-aos="zoom-in" class="col-lg p-0" style="background-color: #343A40;">
                            <div class="col-lg d-flex flex-column">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white text-wrap">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.
                                    Accusantium dolores
                                    adipisci, perspiciatis recusandae perferendis nulla rerum fugit aliquid eos
                                    nostrum.
                                    Eum temporibus dignissimos vero illum nulla nobis architecto veritatis quisquam?
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color: #495057;">
                        <div data-aos="zoom-in" class="col-lg p-0" style="background-color: #495057;">
                            <div class="col-lg d-flex flex-column">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white text-wrap">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit.
                                    Accusantium dolores
                                    adipisci, perspiciatis recusandae perferendis nulla rerum fugit aliquid eos
                                    nostrum.
                                </span>
                            </div>
                        </div>
                        <a class="col-lg p-0" href="/noticias.html"><img class="section-news"
                                src="/image/nube6.jpg" alt="Una nube"></a> </a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center p-3" style="background-color: black;">
                        <div class="btn border text-white">Ver videos</div>
                    </div>
                </div>

                <!-- HISTORIA -->

                <div class="container-fluid section5 d-flex align-items-center justify-content-center"
                    style="height:606px;">
                    <div id="historia" data-aos="zoom-out" class="container bg-white p-5"
                        style="width:50%; opacity: .9; border-radius: 20px">
                        <h1 class="text-center videos-h1-color">Titulo</h1>
                        <div>
                            <span class="text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
                                eum corrupti
                                iusto quis maxime quibusdam blanditiis reiciendis, adipisci exercitationem
                                reprehenderit assumenda, distinctio, rem dolore doloremque unde excepturi suscipit
                                accusamus iure.
                                Consequuntur repellendus quae voluptatibus, amet officiis totam minima ratione
                                reiciendis rerum. Cupiditate laboriosam pariatur modi voluptate rem. Ratione
                                obcaecati officiis nulla alias aliquid. Omnis maxime commodi modi quam, libero
                                sed.</span>
                        </div>
                    </div>
                </div>

                <!-- NOTICIAS -->

                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/"><img class="section-news" src="/image/nube2.jpg"
                                    alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-danger">
                            <a class="" href="/"><img class="section-news" src="/image/nube4.jpg"
                                    alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-dark">
                            <a class="" href="/"><img class="section-news" src="/image/nube3.jpg"
                                    alt="nube2"></a>
                            <!-- <a href="/noticias.html" class="d-inline-block section4" target="_blank"></a> -->
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row justify-content-center p-3" style="background-color: black;">
                        <div class="btn border text-white"><a class="text-white text-decoration-none"
                                href="/noticias.html">Ver más</a></div>
                    </div>
                </div>