                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/"><img class="section-news" src="/assets/image/nube2.jpg" alt="nube2"
                                    style="height:100vh;"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color text-center">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores! Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit. Quo est iste hic facere similique
                                    dignissimos dolorem incidunt deserunt veritatis eum? Animi at deserunt possimus in,
                                    impedit sit incidunt vero aliquam?
                                    Illum, officia voluptatibus libero facilis quod alias dolore laudantium magnam eius
                                    quam deserunt error quae veniam accusamus voluptatem provident ad molestias expedita
                                    quas unde aut dolorum veritatis. Officiis, repellat magnam?
                                    Magnam molestiae optio perspiciatis fugiat tenetur, quidem autem alias pariatur,
                                    accusantium odio quod quos dolore unde quo, perferendis vel vero accusamus magni
                                    tempora temporibus sunt! Tempora ipsam aliquam deserunt error.
                                    Eos neque corrupti dignissimos eius minus aliquam placeat. Expedita eos unde magni
                                    quae, ex a accusantium quis debitis quidem neque accusamus repellendus ea, numquam
                                    non, iure eligendi consectetur commodi possimus. Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Culpa dolor iure voluptate sequi, accusamus non quae
                                    eaque, quisquam ut est facilis! Amet soluta, tempore sit quidem nihil provident
                                    neque itaque.
                                    Unde iure saepe error et, vero distinctio sint placeat itaque cum, a velit expedita
                                    id accusamus. Ratione itaque nam, a temporibus recusandae corporis, est
                                    exercitationem tempora veniam cupiditate atque voluptate?
                                    Porro deleniti accusamus architecto doloremque. Ut pariatur, deleniti, vitae ea et
                                    placeat architecto minima cumque recusandae nisi quae deserunt modi officiis autem
                                    maiores? Sint optio incidunt perferendis nisi voluptates. Ipsam!
                                    Fuga animi neque repellat accusamus earum eaque, at quasi nam, quis quam quae
                                    tenetur laudantium perspiciatis magnam, saepe obcaecati? Sed unde animi beatae
                                    eveniet sequi explicabo quidem tenetur veniam sint!
                                    Et, laborum eaque nobis quibusdam repellendus cum quam laudantium reprehenderit
                                    officiis maxime? Voluptatum, pariatur animi unde reiciendis excepturi hic rem
                                    voluptatibus doloremque rerum enim porro laborum veritatis nisi necessitatibus
                                    impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, odit
                                    reiciendis voluptas obcaecati sequi quaerat? Debitis illum nihil dolorem eum, quo
                                    suscipit sed quos exercitationem vel, fugit, obcaecati saepe consequuntur.
                                    Quis, inventore laudantium harum incidunt labore culpa dolor autem eos iusto modi
                                    sed debitis ipsum nostrum dolorum fuga mollitia at? Possimus ea, neque repellat
                                    magnam delectus earum modi cum esse?
                                    Voluptatibus quasi architecto laudantium! Accusantium corporis voluptates ab commodi
                                    ea laborum sequi obcaecati amet eaque doloribus odit, illum eveniet atque ut at
                                    beatae aspernatur quos distinctio, sunt quasi iste? Accusantium.
                                    Autem tempora aliquid libero labore in excepturi, aut numquam cupiditate, possimus
                                    natus error quaerat eos debitis culpa magni molestiae totam quas. Iure saepe magni
                                    tempore accusamus sint recusandae nobis nihil.
                                    Cupiditate commodi ex dicta placeat eligendi? Pariatur, quia vero sit aut nostrum
                                    recusandae quisquam exercitationem nisi ea, autem at sequi eum dolore est obcaecati.
                                    Doloremque minima blanditiis esse quia similique. Lorem ipsum, dolor sit amet
                                    consectetur adipisicing elit. Sit minus libero labore animi saepe, qui doloremque
                                    neque inventore nam suscipit totam excepturi. Quam maiores mollitia laboriosam
                                    assumenda hic dolorem tenetur.
                                    At voluptate deleniti est nam excepturi in illum quae labore ullam sunt odit natus
                                    error ut quidem vero veritatis quasi consequatur fugiat odio molestias cumque,
                                    suscipit sapiente tenetur dignissimos! Totam!
                                    Repellat consectetur non voluptate iure. Deleniti modi adipisci magnam provident
                                    alias est illum ullam repellendus laborum amet aut quos iusto, vel fuga ea deserunt,
                                    consequuntur saepe natus asperiores incidunt sapiente!
                                    Nostrum earum cum totam nobis aut, optio autem voluptatum libero placeat tenetur,
                                    iste beatae odit suscipit. Recusandae, eveniet itaque illo eius commodi hic iusto
                                    voluptate esse eum deleniti, dolorum tempore?
                                    At placeat optio tempore id minus distinctio quod non nostrum natus veniam!
                                    Praesentium quis fuga quod aperiam aut sit tempore, nisi, corporis perspiciatis
                                    nobis et molestias sapiente omnis, optio inventore?
                                    Cum ab eveniet tempore labore adipisci aspernatur odit eligendi, accusantium eaque
                                    rerum voluptatem necessitatibus a pariatur nisi id ullam ut, asperiores quae minima,
                                    consectetur cupiditate. Tempora quibusdam repellat voluptates eligendi?
                                    Aperiam ullam tempora beatae explicabo assumenda quam nam sit, dolore aut sed
                                    consequatur consequuntur dolor quo neque natus nisi? Asperiores, nihil sed velit
                                    quas in numquam illo quasi earum id?
                                    Doloremque alias nihil accusantium, iste eveniet animi quae facilis ratione
                                    distinctio modi in deleniti molestias ex voluptatibus, cum quam velit? Eveniet
                                    dolorem temporibus sint ipsam nam ducimus eaque autem qui?
                                    Adipisci tenetur molestias omnis obcaecati deserunt aliquam aperiam unde qui culpa
                                    harum. Odio explicabo, atque nisi ducimus neque quod, sed quis quos nemo deserunt
                                    natus ullam cum, pariatur rerum harum.
                                    Debitis minima aspernatur sed voluptatem ullam consequuntur tenetur minus nihil quas
                                    facere, autem, suscipit magnam, ipsum porro quam repellendus. Nostrum praesentium
                                    officia ratione deserunt iste illo animi quis voluptatibus ipsa. Lorem ipsum dolor
                                    sit amet, consectetur adipisicing elit. Dolore eos enim velit porro qui explicabo
                                    praesentium aut expedita fugiat in recusandae sed culpa, minima cumque vitae
                                    perferendis neque vero quam.
                                    Accusantium, dolore? In modi adipisci saepe error soluta temporibus maiores commodi
                                    esse quae ad accusamus voluptatibus nulla ipsa, sequi possimus, tempore iusto
                                    nostrum aperiam officia debitis! Dolor voluptates molestias quaerat?
                                    Quis non, exercitationem dolores debitis culpa, accusantium, pariatur laboriosam
                                    maiores corporis neque odio asperiores! Harum odio quod esse doloribus, praesentium
                                    ut beatae velit. Cum saepe provident iste voluptatibus labore obcaecati?
                                    Error atque neque, molestias amet dolore voluptatum illo iste ad magnam minus
                                    incidunt a fuga ab vero in perspiciatis at fugit illum? Qui dolorem ad dolorum ullam
                                    dolores excepturi tempore.
                                    Quia ad labore quo est, ut voluptate aliquid culpa voluptatibus et perferendis vero
                                    saepe totam neque veniam impedit dolor amet! Nesciunt laboriosam non sed nam at
                                    recusandae eos repellat eveniet!
                                    Enim facilis, vero omnis harum perspiciatis similique illo suscipit voluptas eum cum
                                    animi esse ut illum molestiae accusamus veritatis explicabo, aliquam magnam
                                    reiciendis amet earum, repellendus sint fuga! Laborum, quis?
                                    Explicabo hic labore nihil sint quasi ipsa soluta tempore, nostrum deleniti
                                    blanditiis doloremque animi aspernatur quia ab pariatur ex at beatae voluptatum.
                                    Modi placeat, error culpa impedit sapiente voluptatem obcaecati.
                                    Debitis expedita, unde aperiam reiciendis reprehenderit, dolore aspernatur tempora
                                    non cupiditate necessitatibus a dolorum, culpa quaerat provident. Nostrum cum culpa
                                    asperiores libero provident neque totam labore, fugiat praesentium nam tempore?
                                    Esse laudantium impedit dicta neque odit quos fuga ex quibusdam, officiis aperiam
                                    obcaecati repellendus praesentium possimus earum amet incidunt nisi exercitationem
                                    ipsum nihil? Molestias quae officia iste deleniti, nemo perspiciatis.
                                    Excepturi nemo accusantium blanditiis optio architecto eos porro sed consectetur
                                    pariatur, id nostrum doloribus corrupti repellat facere quia dolor dolore
                                    perspiciatis recusandae, quibusdam ducimus quasi tempora fuga quas possimus. Facere.
                                    Dicta inventore aspernatur, quos consequuntur pariatur repudiandae architecto quis
                                    sequi totam beatae corporis repellat. Ipsum, culpa earum! At, dolores ea quam, magni
                                    est odio, nemo eum fuga maxime repellendus saepe.
                                    Quidem, consequatur odit velit asperiores distinctio reprehenderit non recusandae
                                    labore rem quia numquam sequi perspiciatis voluptate sapiente hic fugiat voluptas
                                    porro quae dolor, at animi tempora laudantium. Est, porro fugiat?
                                    Harum unde voluptatum sint id nesciunt labore assumenda, inventore dicta incidunt
                                    nostrum minus non facilis tempora eius pariatur quis distinctio doloribus quod
                                    impedit hic porro mollitia beatae? Veniam, id dolorum.
                                    Iusto eligendi sint ut perferendis hic alias deleniti repellat quidem nam accusamus
                                    consequatur aliquam voluptas tempore quas delectus rem cumque rerum maxime ratione
                                    itaque id tenetur, incidunt reiciendis vero! Fugiat.
                                    Consequuntur quo aperiam nemo voluptatum, delectus eos ratione aliquid non omnis eum
                                    voluptatem ducimus incidunt iste esse enim dolor itaque, nam soluta? Reiciendis quae
                                    ipsum, harum sint nesciunt unde? Quidem.
                                    Animi cum pariatur quidem provident ratione ex ab laboriosam laudantium fugit nulla
                                    libero sequi assumenda corporis, nostrum perferendis magnam ipsum incidunt, officiis
                                    totam accusamus illo veniam quibusdam, iste blanditiis. Neque.
                                    Voluptatem sit et placeat aut a illum perspiciatis veritatis quas omnis, error
                                    quisquam repudiandae ea harum dolorem necessitatibus magnam officiis voluptates
                                    temporibus eum esse eos. Esse ad eum deleniti assumenda!
                                    Quos, porro aperiam doloremque iste eos nemo magni consequatur nesciunt animi
                                    repellat, tempore temporibus dignissimos deleniti rerum doloribus consequuntur
                                    mollitia nihil et impedit at pariatur. Alias est enim earum aspernatur!
                                    Ipsa unde magni modi, vel exercitationem officia et odio? Libero maiores eos,
                                    delectus magnam repellendus doloribus autem repellat aliquam magni cumque suscipit
                                    iusto quaerat eligendi perspiciatis, ipsum maxime accusamus nemo.
                                    Facilis dignissimos impedit facere vel pariatur itaque temporibus laborum aliquam
                                    quidem. Blanditiis vero quidem non, ullam qui iusto cupiditate repellendus
                                    consequatur esse similique. Dolorem odio amet, et rem unde animi?
                                </span>
                            </div>
                        </div>
                    </div>
                </div>