<div class="container-fluid">
    <div id="noticias" class="row">
        <div class="col-lg-4 p-0  bg-warning">
            {{#each articleDoc}}
                <a class="" href="/noticia-especifica"><img class="section-news"
                        src="{{image}}" alt="{{title}}"></a>
                <div class="container p-4">
                    <h1 class="videos-h1-color">{{title}}</h1>
                    <span class="text-white">
                      {{description}}
                    </span>
                </div>
            {{/each}}
        </div>
    </div>
</div>