                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube2.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-danger">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube4.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-dark">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube3.jpg" alt="nube2"></a>
                            <!-- <a href="/noticias.html" class="d-inline-block section4" target="_blank"></a> -->
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube2.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-danger">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube4.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-dark">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube3.jpg" alt="nube2"></a>
                            <!-- <a href="/noticias.html" class="d-inline-block section4" target="_blank"></a> -->
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube2.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-danger">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube4.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-dark">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube3.jpg" alt="nube2"></a>
                            <!-- <a href="/noticias.html" class="d-inline-block section4" target="_blank"></a> -->
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container-fluid">
                    <div id="noticias" class="row">
                        <div class="col-lg p-0  bg-warning">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube2.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-danger">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube4.jpg" alt="nube2"></a>
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>
                        <div class="col-lg p-0 bg-dark">
                            <a class="" href="/noticia-especifica"><img class="section-news"
                                    src="/image/nube3.jpg" alt="nube2"></a>
                            <!-- <a href="/noticias.html" class="d-inline-block section4" target="_blank"></a> -->
                            <div class="container p-4">
                                <h1 class="videos-h1-color">TITULO</h1>
                                <span class="text-white">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quaerat, minus
                                    doloremque voluptate, illum rem optio doloribus sed officiis inventore architecto
                                    recusandae tempora quas excepturi nulla quia. Culpa, nesciunt maiores!
                                </span>
                            </div>
                        </div>

                    </div>
                </div>