<div class="container-fluid bg-info" style="font-size: 3rem;">
    <div class="mt-5">
        <div class="d-flex row align-items-center border border-dark shadow" style="height:20vh;">
            <div class="col-lg text-center text-white ">POLÍTICA 10:30</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:20vh;">
            <div class="col-lg text-center text-white ">REZAR 12:30</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:20vh;">
            <div class="col-lg text-center text-white ">MÁS POLÍTICA 15:30</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:20vh;">
            <div class="col-lg text-center text-white ">REZAR 18:00</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:20vh;">
            <div class="col-lg text-center text-white ">ECONOMÍA 22:00</div>
        </div>
    </div>
</div>