<div class="container-fluid bg-info" style="font-size: 2rem;">
    <div class="mt-5 mt-lg-0 mt-xl-0">
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Chuy Olivares | 6:00 hs - 22:00 hs
            </div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">John Macarthur | 8:00 hs - 02:00 hs
            </div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Mujeres Virtuosas | 10:00 hs - 18:00 hs
            </div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Palabra de Vida | 12:00hs
            </div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Raul Ferrere | 14:00hs</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Samuel P. Millos | 16:00hs</div>
        </div>
        <div class="d-flex row align-items-center border border-dark shadow" style="height:30vh;">
            <div class="col-lg text-center text-white ">Victor Delgado | 20:00hs</div>
        </div>
    </div>
</div>