                <footer class="container-fluid footer-desktop" style="background-color: #212529;">
                    <div class="row p-0 m-0 align-content-center justify-content-center text-start footer-navbar">
                        <div>
                            <a href="/">
                                <h1 class="col-sm-12 col-md-12 videos-h1-color text-white">El Heraldo</h1>
                            </a>
                        </div>
                        <ul class="col-sm-12 col-md-12 col-lg-2 text-center">
                            <li><a href="/podcast">Podcast</a></li>
                            <li><a href="#noticias">Noticias</a></li>
                            <li><a href="#historia">Nuestra historia</a></li>
                            <li><a href="#">Propositos</a></li>
                        </ul class="col-sm-12 col-md-12 col-lg-12">
                        <a href="#" target="_blank" class="col-sm-0 p-3"><img src="/icons/ig.svg"
                                alt="Instagram"></a>
                        <a href="#" target="_blank" class="col-sm-0 p-3"><img src="/icons/fb.svg"
                                alt="Facebook"></a>
                    </div>
                    <div class="row text-center">
                        <div class="col-12">
                            <p>© 2021 EL HERALDO, Inc • Copyright</p>
                        </div>
                    </div>
                </footer>