                <!-- REPRODUCTOR -->

                <div class="container-fluid p-0">
                    <iframe src="https://d1uzdx1j6g4d0a.cloudfront.net/players/superior/17/174641/" border="0"
                        scrolling="no" frameborder="0" allowTransparency="true" width="100%" height="61"></iframe>
                </div>

                <div class="row">
                    <div class="col-lg rounded">
                        <img class="" src="/icons/ejemplologo.jpeg" alt="Logotipo"
                            style="width:60px; height:auto; border-radius:100px;">
                    </div>
                </div>

                <!-- LISTADO LATERAL -->

                <div>
                    <ul class="list-group list-group-flush bg-dark ">
                        <li class="list-group-item bg-dark"><a class="text-white text-decoration-none"
                                href="/podcast">PODCASTS</a></li>
                        <li class="list-group-item bg-dark"><a class="text-white text-decoration-none"
                                href="/noticias">NOTICIAS</a></li>
                        <li class="list-group-item bg-dark"><a class="text-white text-decoration-none"
                                href="#historia">NUESTRA
                                HISTORIA</a></li>
                        <li class="list-group-item bg-dark"><a class="text-white text-decoration-none"
                                href="/">PROPOSITOS</a></li>
                    </ul>
                </div>

                <!-- PROGRAMACION -->

                <div class="container-fluid p-0 ">
                    <div class="section2 d-flex align-items-center justify-content-center">
                        <div data-aos="zoom-out">
                            <a class="h1 text-white text-decoration-none" href="/programas">
                                PROGRAMACION
                            </a>
                        </div>
                    </div>
                </div>
            </div>