<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AOS LIBRARY -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- /AOS LIBRARY -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Spectral&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/index.css">
    <!-- <link rel="stylesheet"
        href="https://firebasestorage.googleapis.com/v0/b/heraldo-52523.appspot.com/o/public%2Fcss%2Findex.css?alt=media&token=58ce5adc-68d3-4d20-a3bd-2a47d3339118"> -->
    <title>ELHERALDO</title>
</head>

<body>
    <div class="container-fluid">
        <div class=" row">
            <div class="col-lg-3 fixed-top text-white text-center p-0 one ">
            {{>header}}
            <main class="col-lg offset-sm-0 offset-md-0 offset-lg-3 offset-xl-3 two p-0 ">
                <a class="" href="/"><img class="position-fixed " src="/icons/wsp.svg" alt="wsp"
                        style="top:550px;right:10px; z-index:1;"></a>
                <div class="container-fluid d-lg-none d-xl-none fixed-top offset-sm-0 offset-md-0 offset-lg-3 offset-xl-3 p-0"
                    style="height:61px;">
                    <iframe src="https://d1uzdx1j6g4d0a.cloudfront.net/players/superior/17/174641/" border="0"
                        scrolling="no" frameborder="0" allowTransparency="true" width="100%" height="60"></iframe>
                </div>

                {{{body}}}

                {{>footer}}
            </main>
        </div>
    </div>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- /AOS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>